[submodule "introduction"]
	path = introduction
	url = https://github.com/hivickylai/hugo-theme-introduction.git
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
